<h1>Sinatra Firebase Microboiler</h1>
<h2>Alright, now make some cool shit.</h2>

<p>If you're looking for a CSS framework, you might look at something like 
<a href="http://foundation.zurb.com/">Foundation</a> or <a href="http://getbootstrap.com/css/">Boostrap</a>.</p>

<p>In addition, if you're looking for some front-end Javascript wizadry, maybe take a
gander at <a href="http://backbonejs.org/">backbone</a>, <a href="https://angularjs.org/">angular</a>, 
<a href="https://www.polymer-project.org">polymer</a>, and/or <a href="http://facebook.github.io/react/">react</a>.

<p>This comes with <a href="https://fortawesome.github.io/Font-Awesome/icons/">Font Awesome</a>, but if
those don't tickle your fancy you can head over to <a href="http://ionicons.com/">Ion Icons</a>,
<a href="http://getbootstrap.com/components/#glyphicons">Bootstrap</a>, 
<a href="https://useiconic.com/open/">Iconic</a>, <a href="http://zurb.com/playground/foundation-icons">Foundation Icon fonts</a>,
or <a href="http://typicons.com/">Typicons</a>.</p>

<p id="post-result"><i class="fa fa-spin fa-spinner"></i></p>

<p><a target="_blank" class="linkout" href="http://spenser.xyz">spenser.xyz</p>