This is another example route.

<h1><%= @num %> times <%= @num %> is <%= @result %></h1>
We're getting the ID from the route param and passing it into the view.

<p id="post-result"><i class="fa fa-spin fa-spinner"></i></p>