html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.page-container {
  margin: 2rem;
}

.linkout {
  position: absolute;
  bottom: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}